@charset "UTF-8";

.login{
	font-family: 'Lobster', cursive;
	font-size: 50px; 
}
.login2{
	font-family: 'Josefin Slab', serif;
	font-size: 25px; 
}
.login3{
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
}
.login4{
	font-family: 'Josefin Slab', serif;
	font-size: 20px; 
}
input.search {
	width: 200px;
}

input.submit {
	
}

mypage.td {
	width: 200px;
}

input.register {
	width: 200px;
	height: 30px;
}

input.register2 {
	width: 56px;
	height: 30px;
}
input.register3{
	width: 65px;
	height: 30px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.table-striped　 {
	border: 2px solid;
}

p.message {
	color: white;
}

h2 {
	border-bottom: solid 3px skyblue;
	position: relative;
	color: white;
	margin: 0
}

h2:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #ffc778;
	bottom: -3px;
	width: 30%;
}

<!--
-->
h3 {
	color: white;
}

h3 {
	border-bottom: solid 3px #ffc778;
	position: relative;
}

h3:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px skyblue;
	bottom: -3px;
	width: 30%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.write {
	color: white;
}

.square_btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8; /*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

.square_btn:active { /*ボタンを押したとき*/
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

#userHeader {
color: white;
}
html,body{
  height: 100%;
  margin: 0;
}
.bg{
	width:100%; height:100%;
	margin : auto;
 background: url("../image/Energy_drinks.jpg");

 position: relative;

}

 
.bg::before{
 content: ' ';
 background-color: rgba(0,0,0,0.5);
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}

.whole{
 padding-top : 100px ;
 margin : 0;
 position: absolute;
 width: 100%;
 text-align: center;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.square_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.btn_circle_arange{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.btn_circle_arange:hover{
    background: #668ad8;
	color: white;
}

html, body {
	height: 100%;
	margin: 0;
}

.view {
	background-color: skyblue;
}

.lank {
	background-color: #ffc778;
}



.bg {
	width: 100%;
	height: 100%;
	margin: auto;
	background: url("../image/Energy_drinks.jpg");
	position: relative;
}

.bg::before {
	content: ' ';
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.whole {
	padding-top: 40px;
	margin: 0;
	position: absolute;
	width: 100%;
	text-align: center;
}

.square_btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #c58668;
}

.square_btn:active {
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-bottom: none;
}

.btn_circle_arange {
	display: inline-block;
	text-decoration: none;
	background: #87befd;
	color: #FFF;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	transition: .4s;
}

.btn_circle_arange:hover {
	background: #668ad8;
}