@charset "UTF-8";

.navbar{
	border-radius: 0;
	border: none;
	background-color: skyblue;
}

#logo-img{
	height: 25px;
	width: 25px;
}

.navbar-default .navbar-nav >li >a{
	color: #fff
}

.navbar-default .navbar-nav >li > a:hover{
	color: #aaa
}

.navbar-default .navbar-text{
	color: #fff
}