@CHARSET "UTF-8";

header {
 width:800px;
 min-height:100px;
 height:auto !important;
 height:80px;
 background-color: skyblue;
 margin-right: auto;
margin-left: auto;
}

#linkHeader {
          float: left;
}

#userHeader {
          float: right;
}

#title {
float: center
     clear:both;
}

#logo {
	float: left;
}